
.PostFormComponent {
    margin-top: 20%;
}
.PostFormComponent input {
    width: 20%;
    border: 1px solid;
    padding: 10px;
    display: block;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
}

button {
    padding: 7px;
    border: 2px solid rgb(137, 134, 134);
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
}